body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}



h2 {
  color: #037853;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #21ad81;
  font-size: 1.5rem;
  font-weight: 600;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  border-color: #e1ebe7;
  margin-bottom: 90px;
}

p {
  line-height: 2;
  color: #29433d;
}
.top-container {
  background: #e1ebe7;
  position: relative;
  padding-top: 5px;
}

.top-container h1 {
  color: #21ad81;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 120px auto 0 auto;
  font-weight: 500;
  line-height: 1.5;
}

.top-container h2 {
  color: #21ad81;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 40px;
}

.mountain {
  width: 600px;
  height: 300px;
}
.top-cloud {
  position: absolute;
  top: 35px;
  left: 1144px;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 400px;
}

.left-cloud {
  position: absolute;
  top: 100px;
  left: 155px;
}

.right-cloud {
  position: absolute;
  right: 300px;
}
.middle-container{
  background: #ffff;
  padding: 10px;
}
.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.profile a {
  text-decoration: none;
}

.profile-img {
  width: 25%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-1 {
  width: 25%;
  float: left;
  margin-right: 40px;
}

.skill-2 {
  width: 25%;
  float: right;
  margin-left: 40px;
}

.contact-me {
  width: 40%;
  margin: auto;
}

.btn {
  background: #5da996;
  color: #037853;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  padding: 15px;
  margin: 80px auto;
  display: block;
  width: 25%;
}

.btn:hover {
  background: #488b7a;
  transition: 1s;
  color: #ffff;
}

.bottom-container {
  padding: 50px 0 20px;
  background: #a3d3c7;
}

.bottom-container P {
  color: #037853;
  margin-top: 50px;
  font-size: .75rem;
}

.footer-link {
  text-decoration: none;
  color: #037853;
  font-size: 1rem;
  padding: 0 40px;
}
@media all and (max-width: 1267px) {
  .btn{
    width: 40%;
  }
}
@media all and (max-width: 1113px) {
  .btn{
    width: 45%;
  }
}
@media all and (max-width: 1321px) {
  .top-cloud{
    left: 920px;s
  }
  .bottom-cloud{
    left: 300px;
  }
  .right-cloud{
    right: 200px;
  }
}

@media all and (max-width: 1083px){
  .top-cloud{
    left: 800px;
  }
  .bottom-cloud{
    left: 200px;
  }
  .right-cloud{
    right: 100px;
  }
}
